.App {
  background-color: #003249;
  display: grid;
  min-height: 99vh;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 250px 8fr;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #fdfffc;
  grid-template-areas:
    "header header header"
    ". main .";
}

.App-header {
  background-color: #22252b;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  min-height: 8vh;
  padding: 2%;
  padding-right: 8%;
  padding-left: 8%;
  align-items: center;
  text-align: center;
  grid-area: header;
  box-shadow: 0 8px 6px -6px black;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  color: #fdfffc;
  font-size: 130%;
}

.article_nav_bar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: #fdfffc;
  font-size: 70%;
}

.page_buttons {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "prev . next"
}

.log-in {
  font-size: 70%;
}

.App-main {
  grid-area: main;
  justify-content: center;
  padding-top: 5%;
}

.App-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 0;
}

.App-card {
  background-color: #22252b;
  min-height: 20vh;
  text-align: left;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fdfffc;
  transition-duration: 0.5s;
  box-shadow: inset 0 0 10px #000000;
}

.App-card:hover {
  background-color: #2b2f38;
  transform: scale(1.01);
}

.extra_info_span {
  display: flex;
  justify-content: space-between;
  font-size: 50%;
  color: #007ea7;
}

.article_main {
  background-color: #22252b;
  text-align: left;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fdfffc;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.comment_box {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.comment_card {
  background-color: #22252b;
  min-height: 20vh;
  text-align: left;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fdfffc;
  font-size: 80%;
  transition-duration: 0.5s;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.user_list {
  display: flex;
  flex-flow: row wrap;
}

.user_card {
  background-color: #22252b;
  min-height: 20vh;
  width: 29%;
  text-align: left;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fdfffc;
  transition-duration: 0.5s;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

ul {
  padding: 0;
  list-style-type: none;
}

a:visited {
  color: #fdfffc;
}

a:link {
  color: #fdfffc;
  text-decoration: none;
}

a:active {
  color: darkgray;
}

a:hover {
  color: gray;
}

#prev {
  grid-area: prev;
}

#next {
  grid-area: next;
}

.buttons {
  box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.buttons:hover {
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

.buttons:active {
	position:relative;
	top:1px;
}

img {
  max-block-size: 100px;
}

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}